/* common css start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ol,
ul,
button {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* common css end */
.container .navbar_icon i {
    padding: 0px 13px;
}